body {
  background-color: #282c34;
}

a {
  text-decoration: none;
  color: #00a1ff;
}

.App {
  text-align: center;
  padding-top: 20px;

  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.textSizeGrid {
  margin-top: 10px;
  text-align: left;
  margin-left: 50px;
  font-size: x-large;
  font-weight: bold;
}

.sizeForm {
  padding-left: auto;
  align-items: center;
}

.lawn {
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.formMowers {
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

.endMow {
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

.title {
  text-align: left;
  font-size: x-large;
  font-weight: bold;
}

.divMowers {
  margin-top: 20px;
}

.numMower {
  font-size: large;
  font-weight: bold;
}

.currentMowerText {
  justify-content: center;
}

.textMowerCurrent {
  margin-left: 10px;
}
